body {
    background-image: url('/GameColors/src/assets/29b6f2268fac09e598fb5cdc853e7a19.jpg');
    /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño para cubrir todo el cuerpo */
    background-position: center;
    /* Centra la imagen en el cuerpo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}