<ion-content class="ion-padding">
  <ion-item *ngFor="let animal of animals; let i = index" [color]="animal.color">
    <ion-thumbnail slot="start">
      <img [src]="animal.imageUrl" alt="{{ animal.name }} Image">
    </ion-thumbnail>
    <ion-label>{{ animal.name }}</ion-label>
    <ion-input [(ngModel)]="animal.userInput" placeholder="Ingrese el color" type="text" id="droppable{{i}}"
      (drop)="onDrop($event, animal)" (dragover)="onDragOver($event)"></ion-input>
    <ion-button (click)="checkColor(animal)">Verificar</ion-button>
  </ion-item>
  <ion-item-divider *ngIf="showDraggedElementYellow" class="draggable-divider" draggable="true"
    (dragstart)="onDragStart($event, 'Amarillo')" style="--ion-background-color: yellow;">
    <ion-label>Amarillo</ion-label>
  </ion-item-divider>
  <ion-item-divider *ngIf="showDraggedElementPurple" class="draggable-divider" draggable="true"
    (dragstart)="onDragStart($event, 'Morado')" style="--ion-background-color: purple;">
    <ion-label>Morado</ion-label>
  </ion-item-divider>
  <ion-item-divider *ngIf="showDraggedElementBrown" class="draggable-divider" draggable="true"
    (dragstart)="onDragStart($event, 'Cafe')" style="--ion-background-color: brown;">
    <ion-label>Cafe</ion-label>
  </ion-item-divider>


  <br>
  <ion-button (click)="finishGame()">Terminar Juego</ion-button>
  <br><br>
</ion-content>